.game-container {
    height: 90vh;
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
  }
  
.grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 2px;
    margin: 20px auto;
  }
  
  .cell {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
  }
  