@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(221, 210, 210);
}

.logo {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.logo span {
  color: rgb(243, 6, 54)
}

.right-section a {
  text-decoration: none;
  list-style-type: none;
  margin: 20px;
  color: black;
  left: 100px;
}

.profile-icon {
  font-size: 24px;
  text-decoration: none;
}


/* Profile Dropdown */
.profile-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  display: none;
  max-width: 200px;
  top: 30px;
  right: 0;
  background-color: rgb(209, 188, 188);
  z-index: 1;
}

.profile-dropdown:hover .dropdown {
  display: block;
}

.dropdown a {
  display: block;
  padding: 20px;
  color: black;
  text-decoration: none;
  padding: 12px 16px;
}

.dropdown a:hover {
  background-color: rgb(194, 183, 183);
  color: rgb(243, 6, 54)
}

/* Main container styles */
.main-container {
  text-align: center;
  padding: 40px;
  background-color: rgb(221, 210, 210);
}

.main-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.play-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.play-button:hover {
  background-color: #41d246;
  transform: scale(1.05);
  box-shadow: 8px 8px 12px rgba(37, 241, 129, 0.567);
  color: #eff4dd;
}

.play-icon {
  margin-left: 5px;
}

.sub-heading {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}

/* Blocks 5 in a row styles */
.block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.content-block-container {
  perspective: 800px;
  width: 200px;
  margin: 20px;
}

.content-block-container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.block {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.row-1 {
  background-color: #a379e6;
}

.row-2 {
  background-color: #4fd1c5;
}

.row-3 {
  background-color: #ffaa3c;
}

.row-4 {
  background-color: #9ac95c;
}

.row-5 {
  background-color: #54e1f3;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  color: black;
}
.block-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
  font-weight: bold;
  font-size: 26px;
  color: black;
}

.back {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
}

.back ul li {
list-style-type: none;
  text-decoration: none;
  margin: 4px;
}
.back ul li a{
  /* list-style-type: none; */
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
  }
  .back ul li a:hover{
    color: rgb(109, 103, 103);
  }
/* Main styles for the footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-text {
  margin-top: 10px;
}

.footer {
  margin-top: auto;
}