@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(194, 183, 183);
}

.logo {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.logo span{
    color: rgb(243, 6, 54)
}
.right-section a {
    text-decoration: none;
    list-style-type: none;
    margin: 20px;
    color: black;
    left: 100px;
}

.profile-icon {
    font-size: 24px;
    text-decoration: none;
}


/* Profile Dropdown */
 .profile-dropdown{
    position: relative;
    display: inline-block;
}
 .dropdown{
    position: absolute;
     display: none; 
    max-width: 200px;
    top: 30px;
    right: 0;
    background-color: rgb(133, 120, 120);
    z-index: 1;
}
.profile-dropdown:hover .dropdown{
    display: block;
}
.dropdown a {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
    padding: 12px 16px;
}
.dropdown a:hover {
    background-color:rgb(194, 183, 183) ;
    color: rgb(243, 6, 54)
} 

/* CSS for the main-container */
.main-container{

}

/* Main styles for the footer */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-text {
    margin-top: 10px;
  }
  
  .footer {
    margin-top: auto;
  }
